.clientInterface
    margin-right: auto
    margin-left: auto
    margin-top: 160px
    width: 70vw
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .clientInterface-header
        margin-left: 10px
        display: flex
        flex-wrap: wrap
        .clientInterface-header-left
            min-width: 280px
            .clientInterface-header-left-title
                margin-top: 0
                font-size: 4.3rem
                .clientInterface-header-left-title-span
                    color: darken($color-text, 30%)
            .clientInterface-header-left-text
                font-size: 1.35rem
                line-height: 1.25
                min-width: 280px
                max-width: 570px
            .clientInterface-header-left-button
                font-size: 1.25rem
                padding: 0.5rem 1rem
                margin-bottom: 30px
        .clientInterface-header-right //? La ou sont afficher tous les clients
            display: flex
            justify-content: end
            align-items: center
@media screen and ( max-width: 1650px )
    .clientInterface
        width: 83vw
@media screen and (max-width: 1449px)
    .clientInterface
        width: 95vw
        justify-content: space-around
@media screen and (max-width: 985px)
    .clientInterface
        justify-content: center
@media screen and (max-width: 748px)
    .clientInterface
        justify-content: center

@media screen and ( max-width: 450px )
    .clientInterface
        width: auto
        margin: 0 7px
        .clientInterface-header
            .clientInterface-header-left
                .clientInterface-header-left-title
                    font-size: 3rem
                    .clientInterface-header-left-title-span
                .clientInterface-header-left-text
                .clientInterface-header-left-button
                    display: block
                    margin: 10px auto
            .clientInterface-header-right
